<div class="form-group">
    <label for="username">Pseudo:</label>
    <input type="text" class="form-control" id="username" value="{{user.username}}">
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="firstname">Prénom:</label>
            <input type="text" class="form-control" id="firstname" value="{{user.firstname}}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="lastname">Nom:</label>
            <input type="text" class="form-control" id="lastname" value="{{user.lastname}}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="firstname">Mot de passe:</label>
            <input type="password" class="form-control" id="passwd" value="password">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="lastname">Confirmer le mot de passe:</label>
            <input type="password" class="form-control" id="passwd-2" value="password">
        </div>
    </div>
</div>