<div class="container-fluid">
    <div class="row">
        {% for key, app in apps.AppsList %}
        <div class="col-lg-3 col-sm-3">
            <div class="thumbnail">
                <div class="thumb">
                    <img src="http://placehold.it/150x100" alt="">
                    <div class="caption-overflow">
                        <p>
                            {% if app.desc %}
                            {{app.desc}}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="caption text-center">
                    <h6>
                        <a href="gallery.htm#">
                            {% if app.name %}
                            {{app.name}}
                            {% else %}
                            {{key | capitalize}}
                            {% endif %}
                        </a>
                        <a href="#">
                            <i class="fa fa-bars pull-right"></i>
                        </a>
                    </h6>
                </div>
            </div>
        </div>
        {% else %}
        <span>Un problèmes est survenue.</span>
        {% endfor %}
    </div>
    <!-- MODAL (EDIT) -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                ...
            </div>
        </div>
    </div>
</div>
