<ul id="tab-container" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Accueil</a></li>
</ul>

<div class="container-fluid tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
</div>
