<div class="row">
    <div class="col-xs-12 col-sm-9">
        <ul id="tab-container" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Accueil</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">...</div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 no-padding">
        <div class="item text-center">
            <div class="btn-group" id="menuItem">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Mes Emprunts
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Ajouter un objet</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="dropdown" id="option">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cogs"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{url('assets/kiCkila/view_item:')}}{{key}}" data-toggle="modal" data-target="#">En savoir plus</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</div>