/*    --------------------------------------------------
:: General
-------------------------------------------------- */
html, body {
    height: 100%;
}

body {
    font-family: "Lato","Helvetica","Tahoma","Geneva","Arial",sans-serif;
    font-weight: 400;
}

.app-main {
    min-height: 100%;
    margin: 0 auto -60px;
}

/*    --------------------------------------------------
:: App-nav
-------------------------------------------------- */
.app-nav-top {
    margin: 0;
}
.app-nav-top .navbar-brand > img {
    margin: -5%;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 0px 1px rgba(0,0,0,0.5));
}
.app-nav, .app-nav-top {
    font-family: "Montserrat","Helvetica","Tahoma","Geneva","Arial",sans-serif;
}

.app-nav ul a {
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

nav .profile img {
    margin: -20px 5px;
}

.page-title {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 15px;
}

/*    --------------------------------------------------
:: Footer
-------------------------------------------------- */
footer {
    color: #2196f3;
    text-align: center;
    font-size: 16px;
    line-height: 15px;
}

footer > .container {
    padding: 10px;
}

footer .container {
    border-top: 2px solid #2196f3;
}

/*    --------------------------------------------------
:: Dropdown animation
-------------------------------------------------- */
.open > .dropdown-menu {
    opacity: 1;
    margin-top: 0px!important;
}

.dropdown-menu {
    display: block;
    opacity: 0;
    margin-top: 25px!important;
    transition: opacity 0.2s ease,
        margin-top 0.2s ease;
}

/*    --------------------------------------------------
:: Dashboard style
-------------------------------------------------- */

.d-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/*    --------------------------------------------------
:: Users list
-------------------------------------------------- */
.users-list .table img.avatar {
    float: left;
    margin-right: 15px;
}

.users-list .table .name {
    display: block;
}

.users-list .table .subtext {
    font-size: 12px;
    font-style: italic;
}
