@font-face {
    font-family: 'adobe';
    src: url('../fonts/JKAbode-LightDemo.eot');
    src: local('☺'), url('../fonts/JKAbode-LightDemo.woff') format('woff'), url('../fonts/JKAbode-LightDemo.ttf') format('truetype'), url('../fonts/JKAbode-LightDemo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*    --------------------------------------------------
:: General
-------------------------------------------------- */
html, body {
    height: 100%;
}

body {
    font-family: "Lato","Helvetica","Tahoma","Geneva","Arial",sans-serif;
    font-weight: 400;
}

.app-main {
    min-height: 100%;
    margin: 0 auto -60px;
}

/*    --------------------------------------------------
:: App-nav
-------------------------------------------------- */
.app-nav-top {
    margin: 0;
}
.app-nav-top .navbar-brand {
    font-family: 'adobe';
    font-size: 45px;
}
.app-nav, .app-nav-top {
    font-family: "Montserrat","Helvetica","Tahoma","Geneva","Arial",sans-serif;
}

.app-nav ul a {
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

nav .profile img {
    margin: -20px 5px;
}

/*    --------------------------------------------------
:: Footer
-------------------------------------------------- */
footer {
    color: #2196f3;
    text-align: center;
    font-size: 16px;
    line-height: 15px;
}

footer > .container {
    padding: 10px;
}

footer .container {
    border-top: 2px solid #2196f3;
}

/*    --------------------------------------------------
:: Dropdown animation
-------------------------------------------------- */
.open > .dropdown-menu {
    opacity: 1;
    margin-top: 0px!important;
}

.dropdown-menu {
    display: block;
    opacity: 0;
    margin-top: 25px!important;
    transition: opacity 0.2s ease,
        margin-top 0.2s ease;
}

/*    --------------------------------------------------
:: Dashboard style
-------------------------------------------------- */

.d-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/*    --------------------------------------------------
:: Users list
-------------------------------------------------- */
.users-list .table img.avatar {
    float: left;
    margin-right: 15px;
}

.users-list .table .name {
    display: block;
}

.users-list .table .subtext {
    font-size: 12px;
    font-style: italic;
}

/*    --------------------------------------------------
:: Masonry
-------------------------------------------------- */
.masonry-layout {
    -moz-column-width: 25em;
    -webkit-column-width: 25em;
    -moz-column-gap: 10px;
    -webkit-column-gap:10px;

}

.masonry-layout > .col-md-4 {
    display: inline-block;
    padding: 0;
    margin: 10px;
    width:  100%;
    float:none;
}

.masonry-layout > .col-md-4 .panel {
    max-width: 98%;
}
