{% extends "@frontend/default.html.twig" %}
{% set title = 'Alexis Rouillard | Developer' %}
{% set head_title = 'CV' %}
{% block content %}
    <div class="container-fluid mt-5">
        <div class="row w-100">
            <div class="col-md-3 col-sm-12 titleText">
                <span class="titleText">About me</span></div>
            <div class="col-md-9 div-text text-about-me">
                <p>Self-taught developer for six years, self-motivated, ability overcome difficulties and the ability to learn. These skills help me along the way to assimilate new programming and more:</p>
                <ul class="skils">
                    <li>
                        <span>HTML, CSS, LESS, SASS, JavaScript</span></li>
                    <li>
                        <span>Node.JS</span>
                    </li>
                    <li>
                        <span>C, C++, C#, Objective-C</span>
                    </li>
                    <li>
                        <span>Java, Kotlin</span>
                    </li>
                    <li>
                        <span>Python</span>
                    </li>
                    <li>
                        <span>PHP, Symfony</span>
                    </li>
                    <li>
                        <span>Rust</span>
                    </li>
                    <li>
                        <span>Dart, Flutter</span>
                    </li>
                    <li>
                        <span>Angular JS, TypeScript, Ionic</span>
                    </li>
                    <li>
                        <span>React JS, React Native</span>
                    </li>
                    <li>
                        <span>Cisco/HP Routers, Switchs</span>
                    </li>
                    <li>
                        <span>Web Design</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row w-100">
            <div class="col-md-3 titleText">
                <span class="titleText">Education</span></div>
            <div class="col-md-9 div-text div-small">
                <span class="bachelor-text">Master Epitech</span>
                <span class="yers">2016-2021</span>
                <p class="software-text">Expert of Information Technologies</p>
                <span id="college">Baccalauréat Professionnel</span>
                <span class="yers">2013-2016</span>
                <p class="software-text">Systèmes électronique numériques</p>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row w-100">
            <div class="col-md-3 titleText">
                <span class="titleText">Experience</span></div>
            <div class="col-md-9 div-text div-small">
                <span class="bachelor-text">Developer intern</span>
                <span class="yers">2017</span>
                <p class="software-text">LiveE</p>

                <span id="college">Technician intern</span>
                <span class="yers">2015</span>
                <p class="software-text">Polyclinique de l'Atlantique</p>

                <span id="college">Technician intern</span>
                <span class="yers">2015</span>
                <p class="software-text">GFI Informatique</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
{% endblock %}
