{% extends "@frontend/default.html.twig" %}
{% set title = 'Développeur | Alexis Rouillard' %}
{% block content %}
    <div class="grid">
        <div class="widget panel panel-default col-xs-5">
            <a href="https://github.com/Leigende/EayoCMS">
                <img src="{{url('CMS.jpg', 'UPLOAD')}}" />
                <div class="panel-body">
                    EayoCMS<br>Blazing fast CMS !
                </div>
            </a>
        </div>
        <div class="widget panel panel-default col-xs-5">
            <a href="https://github.com/Leigende/Anna">
                <img src="{{url('AI.jpg', 'UPLOAD')}}" />
                <div class="panel-body">
                    Anna<br>Just a simple personnal assistant.
                </div>
            </a>
        </div>
        <div class="widget panel panel-default col-xs-5">
            <a href="#">
                <img src="{{url('wolf3d.jpg', 'UPLOAD')}}" />
                <div class="panel-body">
                    Projets d'etudes
                </div>
            </a>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.3/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/louisremi/jquery-smartresize/master/jquery.debouncedresize.js"></script>
{% endblock %}