@font-face {
    font-family: 'adobe';
    src: url('../fonts/JKAbode-LightDemo.eot');
    src: local('☺'), url('../fonts/JKAbode-LightDemo.woff') format('woff'), url('../fonts/JKAbode-LightDemo.ttf') format('truetype'), url('../fonts/JKAbode-LightDemo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*    --------------------------------------------------
:: General
-------------------------------------------------- */
html, body {
    height: 100%;
}

body {
    font-family: "Lato","Helvetica","Tahoma","Geneva","Arial",sans-serif;
    font-weight: 400;
}

.app-main {
    min-height: 100%;
    margin: 0 auto -60px;
}

.no-padding {
    padding: 0!important;
}

/*    --------------------------------------------------
:: App-nav
-------------------------------------------------- */
.app-nav-top {
    margin: 0;
    min-height: 64px;
}
.app-nav-top .navbar-brand {
    font-family: 'adobe';
    font-size: 45px;
}
.app-nav, .app-nav-top {
    font-family: "Montserrat","Helvetica","Tahoma","Geneva","Arial",sans-serif;
}

.app-nav ul a {
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    nav form[role="search"] {
        margin: 0;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.navbar-header {
    width: 100%;
}

.profile img {
    margin: -20px 5px;
}

.profile span {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

/*    --------------------------------------------------
:: Sidebar
-------------------------------------------------- */
button[data-toggle="offcanvas"] {
    display: block;
}

@media screen and (min-width: 768px) {
    .row-offcanvas {
        position: relative;
        left: -25%;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas .sidebar-offcanvas {
        background-color: rgb(255, 255, 255);
    }

    .row-offcanvas.active {
        left: 0; /* 3 columns */
    }
    .row-offcanvas.active .sidebar-offcanvas {
        background-color: rgb(254, 254, 254);
    }

    .row-offcanvas .content {
        width: 100%;
        position: absolute;
        left: 25%;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;

    }

    .row-offcanvas.active .content {
        width: 75%; /* 12 columns */
    }

    .sidebar-offcanvas {
        position: relative;
        top: 0;
        width: 25%; /* 3 columns */
    }
}
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        left: 0;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }
    
    .row-offcanvas .content {
        width: 100%;
        position: absolute;
        left: 25%;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;

    }

    .row-offcanvas.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}

/*    --------------------------------------------------
:: Item list
-------------------------------------------------- */

.item {
    display: block;
}

.item .dropdown {
    display: inline-block;
}

.item #menuItem {
    margin-bottom: 15px;
}

.item .item-panel {
    text-align: left;
}

.item .panel-group {
    margin: 0;
}

.item .panel-group .panel {
    border-radius: 0;
}

.item ul.itemlist {
    padding: 10px 0;
}

.item ul.itemlist li {
    list-style: none;
}

.item ul.itemlist li span.sub {
    display: block;
    font-size: 10px;
}.item ul.itemlist li hr {
    margin: 5px 0 0;
}



/*    --------------------------------------------------
:: Color
-------------------------------------------------- */
.bg-red, .bg-blue {
    color: #fff;
}
.bg-red {
    background-color: #ff5b5b;
}

.bg-blue {
    background-color: #188ae2;
}

.color-red {
    color: #ff5b5b;
}

.color-blue {
    color: #188ae2;
}
