<form method="post" id="add_item"> 
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="username">Nom de l'objet:</label>
                <input type="text" class="form-control" name="name" required />
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-circle" src="{{url(e_user.avatar)}}" width="60" height="60"/>
        </div>
    </div>
    <div class="form-group">
        <label for="firstname">Description de l'objet:</label>
        <textarea type="text" class="form-control" name="firstname"></textarea>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstname">Mot de passe:</label>
                <input type="password" class="form-control" name="passwd" value="password" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lastname">Confirmer le mot de passe:</label>
                <input type="password" class="form-control" name="passwd-2" value="password" required />
            </div>
        </div>
    </div>
    <div class="form-group pull-right">
        <input type="submit" name="add_item" class="btn btn-primary" />
        <button type="reset" class="btn btn-danger">Annuler</button>
    </div>
</form>