<h4 class="page-title">Ajouter un objet</h4>
<hr>
<form method="post" id="add_item" action="{{url('items/add_item', 'APP')}}" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="name">Nom</label>
            <input type="text" class="form-control" name="name" required />
        </div>
        <div class="form-group col-md-6">
            <label for="file">Images</label>
            <input name="file[]" type="file" multiple />
        </div>
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <textarea type="text" class="form-control" name="desc"></textarea>
    </div>
    <div class="form-group">
        <label for="date">Disponibilité</label>
        <br>
        <label for="from">De</label>
        <input type="text" id="from" name="from" required />
        <label for="to"> à </label>
        <input type="text" id="to" name="to" required />
    </div>
    <div class="form-group pull-right">
        <input type="reset" class="btn btn-danger" value="Vider le formulaire" />
        <input type="submit" name="add_item" class="btn btn-primary" value="Ajouter"/>
    </div>
</form>
